.flex-container{
  display: flex;
  width: 140px;
  align-items: center;
  justify-content: space-evenly;

  }
.image img.is-rounded{
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 100%;
  flex-wrap: wrap;
  transform: scaleX(1);
  cursor: pointer;
  transition: all .3s ease;
}


.image:hover {
  transform:scale3d(1.08, 1.08,1.08);
}
