<div class="container">
  <div class="card card-container">
    <form class="card-content" [formGroup]="$any(form)" (ngSubmit)="onSubmit()">
      <div class="columns">
        <div class="column">
          <app-validation-msg [control]="$any(form).controls['name']" inputType="text"
                              label="Name"></app-validation-msg>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <app-validation-msg [control]="$any(form).controls['lastName']" inputType="text"
                              label="Last Name"></app-validation-msg>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <app-validation-msg [control]="$any(form).controls['phoneNumber']" inputType="text"
                              label="Phone Number"></app-validation-msg>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <app-validation-msg [control]="$any(form).controls['email']" inputType="email"
                              label="Email"></app-validation-msg>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <app-validation-msg [control]="$any(form).controls['password']" inputType="password"
                              label="Password"></app-validation-msg>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <app-validation-msg [control]="$any(form).controls['confirmPassword']" inputType="password"
                              label="Confirm Password"></app-validation-msg>
          <div *ngIf="$any(form).controls['confirmPassword'].value && password()">
            <p class="help is-danger"> Passwords did not match </p>
          </div>
        </div>
      </div>
        <div class="button-container">
      <button class="button is-rounded is-success " type="submit" [disabled]="password()" (click)="onSubmit()">Sign Up
      </button>
      <button class="button is-rounded is-link " type="submit" [disabled]="password()" (click)="onSubmit()">Sign in
      </button>
        </div>
    </form>
  </div>
</div>
